*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
html,
body
{
    height: 100%;
}

:root{
    --main-text-color:#fff;
    --button-dimmed:#D2A78C;
    --button-active:#BC8C6E;
    --secondary-bg:#fff;
}

body{
    font-family: Inter;
    color: #09110B;
    background-color: #9D7B66;
    background-size: cover;
    min-width: 350px;
}

.page-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 640px;
}

.header, .page-wrapper{
    max-width: 1536px;
    margin: 0 auto;
}

.registration-section{
    width: 100%;

}

.registration-form-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.registration-form{
    height: 400px;
}

/*NAV HEADER*/
.nav-bar-wrapper{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 31px 52px 0 40px;
}

.nav-logo-wrapper{
    position: relative;
    padding-left: 60px;
}

.nav-logo{
    position: absolute;
    background-image: url('../IMG/LOGO_SEPHORA.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: 5px;
}

.nav-title{
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 2em;
}

.nav-title::before{
    display: inline-block;
    padding-right: 10px;
    position: absolute;
    content: "";
    border-left: 2px solid #fff;
    width: 10px;
    height: 26px;
    right: 85px;
    top: 5px;
}


.nav-menu-item{
    font-size: 20px;
    padding-left: 27px;
}

.nav-menu-item:nth-child(3){
    padding-right: 27px;
}

.nav-menu-icon{
    display: inline-block;
    background-image: url('../IMG/LOGO_Cabinet.png');
    background-position: center;
    width: 22px;
    height: 25px;
}

/* FORM */
.page-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 52px 0 40px;
}

.registration-form-image{
    height: 558px;
    width: 557px;
    margin-right: 250px;
}

.form-card{
    max-width: 544px;
    min-width: 350px;
    height: 546px;
    padding-top: 0px;
    background-color: #fff;
    border-radius: 30px;
    /* box-shadow: 0px 0px 3px 3px beige; */
}

.form-wrapper{
    min-width: 50%;
    padding: 48px;
}

.form-title{
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    padding-bottom: 32px;
}

select, input{
    font-size: 18px;
    line-height: 24px;
    pad: 0 16px;
}

.form-input{
    width: 335px;
    height: 48px;
    border: 1px solid #999999;
    border-radius: 5px;
}

.form-label{
    padding: 24px 0 8px 0;
    font-size: 20px;
    line-height: 16px;
}

.form-label:first-of-type{
    padding-top: 0;
}

.form-submit-button{
    background-color: var(--button-dimmed);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 9px 24px;
    height: 48px;
    width: 204px;
    margin-top: 40px;
    font-style: 20px;
}

/*FOOTER*/
.footer{
    position: fixed;
    padding: 20px 0;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/*Utilitary*/
.secondary-text{
    color: var(--main-text-color);
    font-size: 14px;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

